.cache/
obj/
zc
result
out.c
a.out
*.o
*.so
*.dll
*.dylib
*.a
*.obj
.vscode/
.idea/
*.swp
*~
.DS_Store
compile_commands.json
vgcore.*
tests/**/*.o
plugins/*.so

build/
tests/**/*.c
_tmp_*

src/compat/embed.h